.editor {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 800px;
  height: 500px;
  border: 1px solid #ccc;

  .tool-bar {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    line-height: 40px;

    padding: 0 0 0 6px;
    border-bottom: 1px solid #ccc;

    text-align: left;
  }

  .edit-zone {
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 40px);
    line-height: 20px;
    padding: 6px;

    font-size: 16px;
    text-align: left;

    table {
      width: 100%;
      line-height: 20px;

      border-collapse: collapse;
      table-layout: fixed;

      td {
        content: ' ';
        vertical-align: top;
        padding: 8px;
        line-height: 20px;

        border: 1px solid $border-color-default;
      }
    }

  }
}
