$border-color-default: #ccc;
$border-color-deeper: #aaa;
$border-color-hover: rgb(0, 120, 215);
$bg-color-default: #ccc;
$bg-color-hover: rgb(229, 241, 251);
$bg-hover-color-select: rgb(51, 153, 255);
