* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

@import "./variables";
@import "./font/font-awesome";
@import "./components/row";
// @import "./components/panel";
@import "./components/button";
@import "./components/editor";
@import "./components/font-family";
@import "./components/font-size";
@import "./components/bold";
@import "./components/italic";
@import "./components/underline";
@import "./components/del";
@import "./components/unordered";
@import "./components/ordered";
@import "./components/align";
@import "./components/horline";
@import "./components/table-button";
// @import "./components/palette";

.c-popover {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background-color: transparent;
}

.cut-line {
  margin: 0 6px;

  color: $border-color-deeper;
}

hr {
  height: 1px;
  background-color: $border-color-deeper;
}
